
.hair-process img{
    float: right;
    margin-right: 10px;
}
.regain-list{
    background-image: url(img/);
}
.hair-fall-text{
    color: red;
    border-left: 2px solid red;
    padding-left: 20px;
}
.hair-fall-p{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.clinically-section{
    background: rgb(244,231,234);
    background: linear-gradient(90deg, rgba(244,231,234,1) 0%, rgba(238,156,167,1) 35%);
}
.order-korun{
    position: relative;
}
.order-korun img{
    position: relative;
    top: 0;
    width: 100%;
}
.order-korun h2{
    position: absolute;
    top: 0;
    padding-top: 30px;
    margin-left: 40px;
}
.hs-shampoo{
    background-image: url("/img/Hair11.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hs-shampoo figure{
    background-color: antiquewhite;
    border: 1px solid grey;
    margin: 10px 0px;
}
.asolsotti{
    background-image: url("/img/Hair15.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.blk-text{
    background-color: #F3F3F3;
    padding: 15px;
    border: 1px solid grey;
}
.are-you-prepared{


}

.custom-btn {
    width: 250px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
  /* 14 */
  .btn-14 {
    background: rgb(255,151,0);
    border: none;
    z-index: 1;
  }
  .btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-14:hover {
    color: #000;
  }
  .btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .btn-14:active {
    top: 2px;
  }